.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header{
  display: flex;
  height: 40px;
}

.logo{
  height: 100%;
}

.layout-container {
  flex: 1;
  display: flex;
  overflow: auto;
  padding: 8px;
}

.panel {
  height: 100%;
  overflow: hidden;
  margin: 4px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(191,187,191,0.41);
  -moz-box-shadow: 0px 0px 2px 2px rgba(191,187,191,0.41);
  box-shadow: 0px 0px 2px 2px rgba(191,187,191,0.41);
}

.panel-header{
  background-color: white;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  position: sticky;
}

.panel-header-controls{
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  width: 100%;
}

.panel-container{
  height: 100%;
  overflow: scroll;
  padding: 8px;
}

.empty-div {
  flex:1
}

.panel-settings-icon{
  width: 28px;
  height: 24px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

}

.panel-settings-icon:hover{
  background-color: #dededf;
  border-radius: 4px;

}

.panel-settings{
  position: relative;
}

.panel-settings-popup{
  position: absolute;
  right:2px;
  background-color: #F8F8F8;
  border: 1px solid lightgrey;
  padding: 6px;
}